## List

In [2]:
a = [1,2,3]
b = ["1", "2", "3"]

In [3]:
a

[1, 2, 3]

In [4]:
b

['1', '2', '3']

In [5]:
a + b

[1, 2, 3, '1', '2', '3']

In [6]:
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [7]:
b*3

['1', '2', '3', '1', '2', '3', '1', '2', '3']

In [8]:
1 in a

True

In [9]:
4 in a

False

In [3]:
4 not in a

True

In [10]:
"3" in b

True

In [11]:
"5" in b

False

In [4]:
del a[0]
a

[2, 3]

In [5]:
a[1] = 1
a

[2, 1]

In [1]:
# 문자열 데이터를 리스트로 변환 가능
# 문자열 각 글자가 리스트의 원소가 됨.

s = '대한민국만세'

d = list(s)
d

['대', '한', '민', '국', '만', '세']

In [2]:
d[0]

'대'

In [3]:
d[1]

'한'

In [4]:
d[-1]

'세'

In [5]:
d[0:2]

['대', '한']

In [2]:
# 맨 마지막 원소 수정
# 리스트는 원소 수정이 가능

d[-1]="만세"
d

['대', '한', '민', '국', '만', '만세']

In [27]:
# join 함수를 이용하여 리스트 원소를 하나의 문자열 데이터로 변환 가능

''.join(d)

'대한민국만만세'

In [3]:
# 리스트 원소를 하나의 문자열로 만들 때 원소 간 구분자를 설정할 수 있음.

'-'.join(d)

'대-한-민-국-만-만세'

In [4]:
'**'.join(d)

'대**한**민**국**만**만세'

In [12]:
team = ["Seahawks", 2014, "CenturyLink Field"]
nums = [5, 10, 4, 5]
words = ["spam", "ni"]

In [29]:
len(words)

2

In [13]:
len(team)

3

In [14]:
len(nums)

4

In [30]:
max(nums)

10

In [31]:
min(nums)

4

In [32]:
sum(nums)

24

In [15]:
team = ["Seahawks", 2014, "CenturyLink Field"]
nums = [5, 10, 4, 5]
words = ["spam", "ni"]

nums.count(5) # 5라는 값이 등장하는 횟수 반환

2

In [16]:
nums.index(4) # 4라는 값이 위치한 인덱스 정보 반환

2

In [17]:
words.reverse()
words

['ni', 'spam']

In [18]:
team.reverse()
team

['CenturyLink Field', 2014, 'Seahawks']

In [19]:
team.clear()
team

[]

In [44]:
team = ["Seahawks", 2014, "CenturyLink Field"]
nums = [5, 10, 4, 5]
words = ["spam", "ni"]

nums.append(7)
nums

[5, 10, 4, 5, 7]

In [45]:
nums.extend([1,2])
nums

[5, 10, 4, 5, 7, 1, 2]

In [20]:
# 가장 앞에 나타나는 데이터를 제거

team = ["Seahawks", 2014, "CenturyLink Field"]
nums = [5, 10, 4, 5]
words = ["spam", "ni"]

nums.remove(5)
nums

[10, 4, 5]

In [21]:
team = ["Seahawks", 2014, "CenturyLink Field"]
nums = [5, 10, 4, 5]
words = ["spam", "ni"]

words.insert(1, "wink")
words

['spam', 'wink', 'ni']

In [22]:
# 오름차순으로 데이터 정렬

team = ["Seahawks", 2014, "CenturyLink Field"]
nums = [5, 10, 4, 5]
words = ["spam", "ni"]

nums.sort()
nums

[4, 5, 5, 10]

In [23]:
# 내림차순으로 데이터 정렬

nums.sort(reverse=True)
nums

[10, 5, 5, 4]

In [24]:
team = ["Seahawks", 2014, "CenturyLink Field"]
nums = [5, 10, 4, 5]
words = ["spam", "ni"]

words.sort() # 문자열로만 이루어진 데이터의 경우 알파벳 순서로 정렬
words

['ni', 'spam']

In [25]:
words.sort(reverse=True)
words

['spam', 'ni']

In [26]:
nums.extend(words) # 리스트와 리스트를 결합
nums

[5, 10, 4, 5, 'spam', 'ni']

In [27]:
nums.sort() # 숫자와 문자열 데이터가 혼용된 리스트의 경우 sort() 적용 불가

TypeError: '<' not supported between instances of 'str' and 'int'

## List indexing and slicing

In [22]:
# 문자열과 동일

a = [1,2,3,4,5,6]
a[2]

3

In [23]:
a[2:3]

[3]

In [24]:
a[1:5]

[2, 3, 4, 5]

In [25]:
a[:]

[1, 2, 3, 4, 5, 6]

In [26]:
a[:4]

[1, 2, 3, 4]

In [27]:
a[2:]

[3, 4, 5, 6]

## Tuple

In [33]:
a = (1, 2, 3)

In [34]:
a

(1, 2, 3)

In [35]:
a = 1,2,3

In [37]:
a

(1, 2, 3)

In [38]:
type(a)

tuple

In [33]:
a[0]

1

In [34]:
a[2]

3

In [35]:
a[1:3]

(2, 3)

In [43]:
a_list = [1,2,3]
a_tuple = 1,2,3

In [41]:
tuple(a_list)

(1, 2, 3)

In [42]:
list(a_tuple)

[1, 2, 3]

In [44]:
# List는 수정가능
a_list[0] = "수정"
a_list

['수정', 2, 3]

In [45]:
# tuple은 수정불가
a_tuple[0] = "수정"
a_tuple

TypeError: 'tuple' object does not support item assignment

In [46]:
a = (1,2,3)
a.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [47]:
del a[0]

TypeError: 'tuple' object doesn't support item deletion

In [42]:
a = ([1,2,3], [4,5])
a

([1, 2, 3], [4, 5])

In [43]:
a[0]

[1, 2, 3]

In [45]:
a[0][1]

2

In [16]:
a[0][0]="수정"
a

TypeError: 'int' object does not support item assignment

In [46]:
# 리스트를 튜플로 변환가능

a = [1,2,3]
b = tuple(a)
b

(1, 2, 3)

In [47]:
# 반대로 튜플을 리스트로 변환가능

a = 1,2,3
b = list(a)
b

[1, 2, 3]

In [17]:
tuple1 = ("course", "of", "human", "events")
tuple2 = ("When", "in", "the")

tuple3 = tuple1 + tuple2
tuple3

('course', 'of', 'human', 'events', 'When', 'in', 'the')

In [18]:
tuple2*3

('When', 'in', 'the', 'When', 'in', 'the', 'When', 'in', 'the')

In [19]:
" ".join(tuple3)

'course of human events When in the'

In [20]:
"**".join(tuple3)

'course**of**human**events**When**in**the'

## Dictionary

In [51]:
translate = {"red":"빨강", "blue":"파랑", "yellow":"노랑"}
translate["red"]

'빨강'

In [65]:
translate["blue"]

'파랑'

In [66]:
translate["yellow"]

'노랑'

In [25]:
hun = {"firstName": "Hun", "lastName":"Park", "region":"서울"}
hun

{'firstName': 'Hun', 'lastName': 'Park', 'region': '서울'}

In [26]:
hun['firstName']

'Hun'

In [27]:
hun['lastName']

'Park'

In [28]:
hun['region']

'서울'

In [30]:
print(hun['firstName'], hun['lastName']+"은", hun['region']+"에 거주합니다." )

Hun Park은 서울에 거주합니다.

In [31]:
hun = {"firstName": "Hun", "lastName":"Park", "region":"서울"}

hun.keys()

dict_keys(['firstName', 'lastName', 'region'])

In [53]:
list(hun.values())

['Hun', 'Park', '서울']

In [22]:
list(hun.items())

[('firstName', 'Hun'), ('lastName', 'Park'), ('region', '서울')]

In [59]:
hun = {"firstName": "Hun", "lastName":"Park", "region":"서울"}


print(list(hun)) # key값을 list로 반환
print(tuple(hun)) # key값을 tuple로 반환
print(set(hun)) # key값을 set로 반환

['firstName', 'lastName', 'region']
('firstName', 'lastName', 'region')
{'lastName', 'firstName', 'region'}

In [35]:
list(hun.keys())

['firstName', 'lastName', 'region']

In [57]:
list(hun.values())

['Hun', 'Park', '서울']

In [37]:
list(hun.items())

[('firstName', 'Hun'), ('lastName', 'Park'), ('region', '서울')]

In [36]:
hun = {"firstName": "Hun", "lastName":"Park", "region":"서울"}

hun['region']

'서울'

In [37]:
hun = {"firstName": "Hun", "lastName":"Park", "region":"서울"}

hun['region'] = "Seoul"
hun

{'firstName': 'Hun', 'lastName': 'Park', 'region': 'Seoul'}

In [38]:
hun['region']

'Seoul'

In [39]:
hun['country'] = "South Korea"
hun

{'firstName': 'Hun',
 'lastName': 'Park',
 'region': 'Seoul',
 'country': 'South Korea'}

In [41]:
hun['regiion'] = "Seoul"
hun

{'firstName': 'Hun',
 'lastName': 'Park',
 'region': 'Seoul',
 'country': 'South Korea',
 'regiion': 'Seoul'}

In [42]:
del hun['regiion']
hun

{'firstName': 'Hun',
 'lastName': 'Park',
 'region': 'Seoul',
 'country': 'South Korea'}

In [43]:
hun.clear()
hun

{}

In [44]:
hun = {
    "firstName": "Hun", 
    "lastName":"Park", 
    "region":"서울"
}

hun_u = {
    "firstName": "HUN", 
    "country": "South Korea", 
    "region": "Seoul"
}


# hun_u에 있는 값으로 hun을 업데이트
# key값이 동일한 경우 hun_u의 value로 업데이트
# hun에 없는 key값이 hun_u에 있는 경우 hun에 해당 key값이 추가됨.

hun.update(hun_u)

hun

{'firstName': 'HUN',
 'lastName': 'Park',
 'region': 'Seoul',
 'country': 'South Korea'}

In [46]:
"firstName" in hun

True

In [47]:
"region" in hun

True

In [48]:
"region" not in hun

False

In [49]:
len(hun)

4